<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Congratulations from CrowdCode.com, <%= @user.name %></h1>
    <p>You have been selected to contribute to the '<%= @feature.project.name %>' project!</p>
      <p>You will be developing the '<%= @feature.name %>' feature.</p>
      <p>Please sign in to CrowdCode.com to view the details.</p>
    <p>Thanks for contributing and have a great day!</p>
  </body>
</html>
