<div class='display_assigned_dev'>

    <% if feature.requests.any? %>

        <% if feature.requests.any? {|request| request.assigned} %>
            This feature has already been assigned to a user.
        <% else %>
            <div><p>Not assigned</p>
            <span class=request-status></span><%= link_to 'Send Request', feature_requests_path(feature), class: 'request-link'%></div>
        <% end %>

    <% else %>

        <div>Not assigned || 
        <span class=request-status></span><%= link_to 'Send Request', feature_requests_path(feature), class: 'request-link'%></div>

    <% end %>

  </div>
