<div class='display_assigned_dev'>

    <% if feature.requests.any? %>

        <% if feature.requests.any? {|request| request.assigned} %>
            This feature has already been assigned to a user.
        <% else %>
            <%= render 'not_assigned_request_message', feature: feature %>
        <% end %>
    <% else %>
        <%= render 'not_assigned_request_message', feature: feature %>
    <% end %>

  </div>
