<% @project.features.each do |feature| %>
  
  <p><%= link_to feature.name, feature_path(feature) %></p>
  <p><%= feature.description %></p>
  <p><%= feature.deadline.strftime("%y/%m/%d") %></p>

  <%= render "display_assigned_dev", :feature => feature %>

<% end %>