<div class='homepage-container'>

	<div class='image-container'>
		<img class='homepage-pic'src='./images/desk.jpg' />
		<span class='picture-text'>Our mission is to help bring tech projects to life</span>
	</div>

	<div class='projects-love'>
		Projects We Love:
	</div>

	<div class='projects-recommended'>
		Recommended For You:
		<%= render "project_list" %>
	</div>
	
</div>






