<div class='homepage-container'>

	<div class='image-container'>
		<img class='homepage-pic'src='./images/desk.jpg' />
		<span class='picture-text'>Our mission is to help bring tech projects to life</span>
	</div>

	<div>
		<div class='sub-title'>Recommended for you:</div>
		<div class='projects-recommended'>
			<%= render "project_list" %>	
		</div>
	</div>

	<div class='footer'>
   <a href='/'><img class='full-logo-footer' src='/images/full_logo.png'/></a>
 	</div>

</div>







