
<h3>Project: <%= @project.name %></h3>
<h3>Description: <%= @project.description%></h3>

<%= link_to 'Add Feature', new_project_feature_path(@project) %>

<h4>Features: </h4>
<%= render "feature_list" %>
