html, body{
 	margin:0px;
  padding:0px;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

a:hover {
	color: #00BD8E;
}

.notice {

}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	height: 120px;
	width: 100%;
	border: 1px #d3d3d3 solid;
}

.navbar-center {
	padding-top: 10px;
	padding-left: 180px;
	padding-right: 180px;
}

.nav-content-left {
	padding-top: 40px;
	padding-right: 40px;
}

.nav-content-right {
	padding-top: 40px;
	padding-left: 40px;
}

.full-logo {
	height: 100px;
	width: auto;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.homepage-pic {
	height: auto;
	width: 100%;
}

.projects-recommended {
	height: 700px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.project-container {
	border: 1px #d3d3d3 solid;
	border-radius: 12px;
	height: 80%;
	margin: 20px;
	width: 25%;
	background-color: white;
	font-size: 16px;
}

.image-container {
	position: relative;
}

.picture-text {
	position: absolute;
	top: 300px;
	font-size: 46px;
	color: black;
	text-align: center;
	font-weight: bold;
	background: white;
  background: rgba(500, 500, 500, 0.7);
  width: 100%;
}

.image-container {
	border-radius: 12px;
	overflow: hidden;
}

.project-image {
	width: 100%;
	height: 300px;
}

.sub-title {
	font-size: 22px;
	padding-left: 60px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.text-container {
	margin: 15px;
}

.bold-text {
	font-weight: bold;
}

.footer {
	height: 140px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	border: 1px #d3d3d3 solid;
	padding-bottom: 0px
}

.full-logo-footer {
	height: 100px;
	width: auto;
	padding-top: 20px;
}

.project-pic-container {
	width: 100%;
}

.project-main-image {
	width: 100%;
}

.project-title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.project-description {
	font-size: 22px;
	text-align: center;
}

.add-feature-link {
	padding-top: 100px;
	text-align: center;
	padding-bottom: 60px;
}

.add-ft-link-text {
	font-size: 30px;
}

table {
    width: 100%;
    margin-top: 100px;
    background-color: white;
}

th {
    height: 50px;
    font-size: 26px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

td {
    height: 50px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

/********* Sign Up *************/

.form-wrapper {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.form-wrapper
input[type="email"],
input[type="password"],
input[type="text"],
input[type="text_area"],
input[type="date"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 auto;
  outline: 0;
  padding: 10px;
  width: 93%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

.form-wrapper
input[type="submit"] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #0BBF92;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #0BBF92;
  margin-bottom: 10px;
}

.form-wrapper label {
  display: block;
  margin-bottom: 3px;
}

.form-wrapper h2 {
  margin-top: 0;
}

.form-wrapper a {
  margin-bottom: 90px;
}

.feature-container {
	padding-left: 20px;
}

.feature-container h3 {
	color: #00BD8E;
  padding: 0;
  margin-bottom: 5px;
}

.feature-container h4 {
  padding: 0;
  margin: 0;
}

.feature-container ul {
  list-style: none;
  padding-left: 5px;
}


.feature-container ul h4 {
  color: #00BD8E;
  padding: 0;
  margin: 0;
  display: inline;
}
