html, body{
 	margin:0px;
  padding:0px;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

a:hover {
	color: #00BD8E;
}

.notice {

}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	height: 120px;
	width: 100%;
	border: 1px #d3d3d3 solid;
}

.navbar-center {
	padding-top: 10px;
	padding-left: 180px;
	padding-right: 180px;
}

.nav-content-left {
	padding-top: 40px;
	padding-right: 40px;
}

.nav-content-right {
	padding-top: 40px;
	padding-left: 40px;
}

.full-logo {
	height: 100px;
	width: auto;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.homepage-pic {
	height: auto;
	width: 100%;
}

.projects-love {
	height: 500px;
	width: 100%;
	border: 1px #d3d3d3 solid;
}

.projects-recommended {
	height: 500px;
	width: 100%;
	border: 1px #d3d3d3 solid;
	display: flex;
	flex-direction: row;
}

.project-container {
	border: 1px #d3d3d3 solid;
	width: 40px;
}

.image-container {
	position: relative;
}

.picture-text {
	position: absolute;
	top: 300px;
	font-size: 32px;
	 color: white;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   margin: 5px;

}




