html, body{
 	margin:0px;
  padding:0px;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

a:hover {
	color: #00BD8E;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	height: 120px;
	width: 100%;
	border: 1px #d3d3d3 solid;
}

.navbar-center {
	padding-top: 10px;
	padding-left: 180px;
	padding-right: 180px;
}

.nav-content-left {
	padding-top: 40px;
	padding-right: 40px;
}

.nav-content-right {
	padding-top: 40px;
	padding-left: 40px;
}

.full-logo {
	height: 100px;
	width: auto;
}
