<% if @dev == 'Not Assigned' %>

  <h3>Requests Received for Feature:</h3>

  <% if @feature.requests.any? %>
    <% @feature.requests.each do |request| %>
      <%= request.user.email %>
      <%= link_to 'Select', request_path(request), method: :patch %>
    <% end %>
  <% else %>
    No requests received yet
  <% end %>
<% end %>